*.DS_Store
*.pyc
__pycache__
.vscode/
.idea/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# C extensions
*.so